In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"C:\Users\user\OneDrive\Desktop\New Dataset Ducat\heart_diseases.xls")

# ðŸ“Š Dataset Contents
The dataset includes a variety of clinical and demographic parameters such as:
- Age
- Gender
- Chest Pain Type (cp)
- Resting Blood Pressure (trestbps)
- Cholesterol Level (chol)
- Fasting Blood Sugar
- Resting ECG results
- Maximum Heart Rate Achieved (thalach)
- Exercise-Induced Angina (exang)
- ST Depression (oldpeak)
- Slope of Peak Exercise ST Segment
- Number of Major Vessels (ca)
- Thalassemia (thal)
- Target (Heart Disease Presence: 0/1)

**These features represent key indicators widely used by cardiologists.**

In [14]:
data.shape

(918, 12)

In [15]:
data.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [16]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [18]:
data.sample()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
47,50,M,ATA,140,216,0,Normal,170,N,0.0,Up,0

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [20]:
data.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

# 1. Find the total number of patients and how many of them have heart disease

In [32]:
data[data['HeartDisease']==1].groupby('HeartDisease')['HeartDisease'].count()

HeartDisease
1    508
Name: HeartDisease, dtype: int64

In [6]:
np.sum(data['HeartDisease'].values == 1)

np.int64(508)

# 2. Calculate the average age of patients using NumPy and compare it with Pandas .mean() result. Are both same?

In [41]:
a=data['Age'].mean()
b=np.mean(data['Age'])
print(a)
print(b)

53.510893246187365
53.510893246187365

# 3. Which gender (Male/Female) has higher average cholesterol levels? (Use groupby + mean)

In [44]:
data.groupby('Sex')['Cholesterol'].mean()

Sex
F    241.196891
M    187.513103
Name: Cholesterol, dtype: float64

# 4. Use NumPy to extract all patients above 60 years of age and count how many of them have heart disease

In [3]:
np.sum((data['Age'] >= 60) & (data['HeartDisease'] == 1))

np.int64(185)

In [4]:
data[data["Age"] >= 60].groupby('HeartDisease')['HeartDisease'].count()

HeartDisease
0     68
1    185
Name: HeartDisease, dtype: int64

# 5. Which chest pain type is most commonly observed? Also compute its percentage in the dataset

In [33]:
#

# 6. Find the patient with the maximum resting blood pressure and display their complete record

In [27]:
data[data['RestingBP'] == data['RestingBP'].max()]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1

# 7. Using Pandas + NumPy, detect outliers in the cholesterol column (IQR method). How many outliers exist?

# 8. Group patients by age category (e.g., <40, 40â€“55, 55+) and calculate the heart disease rate in each group

In [5]:
data["Age_Group"]=data['Age'].apply(lambda x: "Group(20-30)" if x in range(20,31) else
                                "Group(31-40)" if x in range(31,41) else
                                "Group(41-50)" if x in range(41,51) else
                                "Group(51-60)" if x in range(51,61) else
                                "Group(61-70)" if x in range(61,71) else
                                "Group(71-80)" if x in range(71,81) else
                                "Other"
                               )

In [28]:
data['Age'].min()

np.int64(28)

In [29]:
data['Age'].max()

np.int64(77)

In [34]:
data[data['HeartDisease']==1].groupby('Age_Group')['HeartDisease'].count()

Age_Group
Group(31-40)     32
Group(41-50)     93
Group(51-60)    222
Group(61-70)    145
Group(71-80)     16
Name: HeartDisease, dtype: int64

# 9. Calculate correlation among features (cholesterol, blood pressure, max heart rate, age) and identify the strongest relationship

# 10. Using NumPy conditional indexing, extract all male patients who have heart disease and cholesterol > 250

In [10]:
data[(data['Sex'] == 'M') & (data['HeartDisease'] == 1) & (data['Cholesterol'] > 250)]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Age_Group
19,36,M,ATA,120,267,0,Normal,160,N,3.0,Flat,1,Group(31-40)
23,44,M,ATA,150,288,0,Normal,150,Y,3.0,Flat,1,Group(41-50)
30,53,M,NAP,145,518,0,Normal,130,N,0.0,Flat,1,Group(51-60)
36,65,M,ASY,140,306,1,Normal,87,Y,1.5,Flat,1,Group(61-70)
49,41,M,ASY,110,289,0,Normal,170,N,0.0,Flat,1,Group(41-50)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
877,58,M,ATA,120,284,0,LVH,160,N,1.8,Flat,1,Group(51-60)
884,67,M,ASY,160,286,0,LVH,108,Y,1.5,Flat,1,Group(61-70)
895,57,M,ASY,110,335,0,Normal,143,Y,3.0,Flat,1,Group(51-60)
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1,Group(51-60)
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,Group(41-50)

# 11. Find the top 3 most influential risk factors using .corr() sorted highest to lowest

# 12. Group by chest pain type and compute the average max_heart_rate for each type

In [12]:
data.groupby('ChestPainType')['MaxHR'].mean().round(2)

ChestPainType
ASY    128.48
ATA    150.21
NAP    143.24
TA     147.89
Name: MaxHR, dtype: float64

# 13. Using NumPy where(), create a new column "cholesterol_status": a. HIGH if cholesterol > 240 else NORMAL

In [16]:
data["cholesterol_status"]=data['Cholesterol'].apply(lambda x: "High" if x >= 240 else
                                "Normal" if x < 240 else
                                "Other"
                               )

In [31]:
(data['cholesterol_status'] == 'High').sum()

np.int64(363)

In [32]:
(data['cholesterol_status'] == 'Normal').sum()

np.int64(555)

# 14. Among patients with HIGH cholesterol, what percentage have heart disease?

In [52]:
percent = (data[(data['cholesterol_status']=='High') & (data['HeartDisease']==1)].shape[0] 
           / data[data['cholesterol_status']=='High'].shape[0]) * 100

print(round(percent, 2), "%")

52.62 %

In [43]:
data["HD_In_Yes_or_No"]=data['HeartDisease'].apply(lambda x: "Yes" if x == 1 else
                                "No")

In [55]:
data[(data['cholesterol_status']=='High') & (data['HD_In_Yes_or_No']=='Yes')].groupby('HD_In_Yes_or_No').count()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Age_Group,cholesterol_status
HD_In_Yes_or_No,,,,,,,,,,,,,,
Yes,191,191,191,191,191,191,191,191,191,191,191,191,191,191

# 15. Group by gender and calculate mean blood pressure, cholesterol, and max heart rate (all in one result)

In [56]:
data.groupby('Sex')[['RestingBP', 'Cholesterol', 'MaxHR']].mean().round(2)

     RestingBP  Cholesterol   MaxHR
Sex
F       132.21       241.20  146.14
M       132.45       187.51  134.33

# 16. Find the age range (minâ€“max) of patients using NumPy and match with Pandas

In [60]:
(data['Age'].max())-(data['Age'].min())

np.int64(49)

# 17. Check whether the dataset has missing values. If yes, replace numerical NaN with column median using NumPy

In [61]:
data.isnull().sum()

Age                   0
Sex                   0
ChestPainType         0
RestingBP             0
Cholesterol           0
FastingBS             0
RestingECG            0
MaxHR                 0
ExerciseAngina        0
Oldpeak               0
ST_Slope              0
HeartDisease          0
Age_Group             0
cholesterol_status    0
HD_In_Yes_or_No       0
dtype: int64

# 18. Using value_counts(), identify the combination of (gender + chest pain type) that occurs most frequently

In [67]:
data[['Sex', 'ChestPainType']].value_counts().head(1)

Sex  ChestPainType
M    ASY              426
Name: count, dtype: int64

# 19. Segment patients into BMI-based risk (use NumPy cut if BMI column exists) and compute avg heart disease rate per segment

# 20. Create a NumPy array of cholesterol values and find percentile values (25th, 50th, 75th). Interpret the results